.place__title {
	margin: 0;
	grid-area: place__title;
	align-self: end;
}

@media screen and (min-width: 320px) {
	.place__title{
		max-width: 288px;
		font-style: normal;
		font-weight: 900;
		font-size: 32px;
		line-height: 109%;
		padding: 0 16px;
	}
}
	
	@media screen and (min-width: 768px) {
	.place__title{
		max-width: 340px;
		font-style: normal;
		font-weight: 900;
		font-size: 42px;
		line-height: 110%;
		padding: 0;
	}
}
	
	@media screen and (min-width: 1024px) {
	.place__title{
		max-width: 440px;
		font-style: normal;
		font-weight: 900;
		font-size: 72px;
		line-height: 106%;
	}
}

@media screen and (min-width: 1280px) {
	.place__title{
		max-width: 460px;
	}
}