.place__image {
  margin: 0;
  padding: 0;
  grid-area: place__image;
  object-fit: contain;
  box-sizing: border-box;

}

@media screen and (min-width: 320px) {
  .place__image{
    max-width: 320px;
  }
}
  
  @media screen and (min-width: 768px) {
  .place__image{
    max-width: 340px;
  }
}
  
  @media screen and (min-width: 1024px) {
  .place__image{
    max-width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image{
    max-width: 460px;
  }
}