.lead__image {
 max-width: 100%;
 padding: 40px 0 0;
}

@media screen and (min-width: 768px) {
  .lead__image {
    padding: 56px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    padding: 64px 0 0;
  }
}

