.intro {
	margin: 0;
	display: flex;
	flex-direction: column;
}


@media screen and (min-width: 320px) {
	.intro{
		max-width: calc(100% - (16px*2));
		padding: 0 16px;
	}
}
	
	@media screen and (min-width: 768px) {
	.intro{
		max-width: calc(100% - (24px*2));
		padding: 0 24px;
	}
}
	
	@media screen and (min-width: 1024px) {
	.intro{
		max-width: calc(100% - (48px*2));
		padding: 0 48px;
	}
}

@media screen and (min-width: 1280px) {
	.intro{
		max-width: calc(100% - (148px*2));
		padding: 0 148px;
	}
}

