.cover__overlay {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  text-decoration: none;
  content: "";
  z-index: 1;
}